<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.google.gvr.keyboardsupport">
  <application
      android:allowBackup="true"
      android:label="@string/app_name"
      android:supportsRtl="true">
    <!-- For enableVrMode use the value vs. the string so Unity can build it. -->
    <activity
        android:name=".TransitionVRActivity"
        android:exported="false"
        android:label="@string/app_name"
        android:enableVrMode="com.google.vr.vrcore/com.google.vr.vrcore.common.VrCoreListenerService"
        android:configChanges="density|keyboardHidden|navigation|orientation|screenSize|uiMode"
        android:resizeableActivity="false">
      <intent-filter>
        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="com.google.intent.category.DAYDREAM"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
